
<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>

  <style>
      body {
          background: url(<%= image_path("background.jpg")%>)no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }
      a:link {
          color: #FF0000;
      }
      a:visited {
          color: #FF0000;
      }
      a:hover {
          color: #FF0000;
      }

      a:active {
          color: #FF0000;
      }

      .bottle_class{
          max-width: 350px;
          max-height: 350px
      }

      /*brisenje na liniite megju redovite vo tabelata*/
      .table>tbody>tr>th, .table>tbody>tr>td {
          border-top: none;
      }
      /*sluzi za kopceto*/
      a.btn, a.btn-primary{
          color:white;
      }
  </style>
</head>
<body>
<div class="container-fluid">

  <!--navbar-->
  <div class="row">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to image_tag("logo7.png", :class => 'img-responsive'), "/" %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class=""></span>Винарии<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <% @vinarijas.each do |vizba| %>
                    <li><span class="glyphicon glyphicon-home" aria-hidden='true'></span>&nbsp;<span class="h4"><%= link_to vizba.ime, vizba %></span></li>
                <% end %>
              </ul>
            </li>
          </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <div class="list-group">
        <% @vinarijas.each do |v| %>
            <%= link_to raw("<span class='pull-left glyphicon glyphicon-home' aria-hidden='true'></span><span class='h4'>&nbsp"+v.ime+"</span><span class='pull-right glyphicon glyphicon-share-alt' aria-hidden='true'></span>"), v, :class => 'list-group-item' %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="row">
        <!-- promena od 3 na 2 -->
        <div class="col-lg-offset-1 col-lg-2">
          <!--kreirav klasa nasa bottle_class za da moze da se vcita slika na ovoj nacin koj e edinstven i raboti za rails :D
                sekogas ako stavas slika na koja mu zadavas tvoj stil napravi klasa i definiraj ja kako jas sto napraviv-->
          <%= image_tag('/images/wine.jpg', :class => 'img-rounded bottle_class') %>
        </div>
        <div class="col-lg-offset-1 col-lg-7">
          <table class="table">
            <tbody>
            <tr>
              <td><h4>Име: </h4></td>
              <td><%= @vinarija.ime %></td>
            </tr>
            <tr>
              <td><h4>Град: </h4></td>
              <td><%= @vinarija.grad %></td>
            </tr>
            <tr>
              <td><h4>Година на основање: </h4></td>
              <td><%= @vinarija.godina %></td>
            </tr>
            <tr>
              <td><h4>Регион на плантажи: </h4></td>
              <td><%= @vinarija.region %></td>
            </tr>
            <tr>
              <td><h4>Web страна: </h4></td>
              <td><a href=""><%= @vinarija.veb_strana %></a></td>
            </tr>
            <tr>
              <td><h4>Повеќе за винаријата: </h4></td>
              <td><p><%= @vinarija.opis %></p></td>
            </tr>
            <tr>
              <!--tuka ke treba linkot da se kreira preku link_to-->
              <td colspan="2" style="text-align: left"><h4><%= link_to "Погледнете ги вината", vino_path, :class => 'btn btn-primary'%></h4></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div id="footer" class="row" style="background-color: #F7F7F7">
    <footer>
      <div class="col-lg-12" style="margin-top: 10px">
        <div class="col-lg-offset-2 col-lg-5">
          <address>
            <p><span class="glyphicon glyphicon-user"></span> Росана Алчева</p>
            <p><span class="glyphicon glyphicon-envelope"></span>: <a href="mailto:alcheva_rosana@yahoo.com">alcheva_rosana@yahoo.com</a></p>
            <p><%= image_tag('/images/fbicon.png') %> <a href="https://www.facebook.com/rosana.alceva" target="_blank">https://www.facebook.com/rosana.alceva</a></p>
          </address>
        </div>
        <div class="col-lg-5">
          <address>
            <p><span class="glyphicon glyphicon-user"></span> Мартин Ристевски</p>
            <p><span class="glyphicon glyphicon-envelope"></span>: <a href="mailto:martin.ristevski04@gmail.com">martin.ristevski04@gmail.com</a></p>
            <p><%= image_tag('/images/fbicon.png') %> <a href="https://www.facebook.com/martin.ris" target="_blank">https://www.facebook.com/martin.ris</a></p>
            <p><%= image_tag('/images/twittericon.png') %> <a href="https://twitter.com/engineeringyoda" target="_blank">@engineeringyoda</a></p>
          </address>
        </div>
      </div>
    </footer>
  </div>

</div>
</body>
</html>
