<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>

  <style>
      body {
          background: url(<%= image_path("background.jpg")%>)no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }
      #red{
          margin: 10px;
      }
  </style>

</head>
<body>
<div class="container-fluid">

  <!--navbar-->
  <div class="row">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to image_tag("logo7.png", :class => 'img-responsive'), "/" %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a id="vizbi" name="vizbi" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Винарии<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <% @vinarijas.each do |vinarija| %>
                    <li><span class="glyphicon glyphicon-home"></span>&nbsp;<span class="h4"><%= link_to vinarija.ime, edit_vinarija_path(vinarija.id), :id => "#{vinarija.ime}", :name => "#{vinarija.ime}" %></span></li>
                    <li class="divider"></li>
                <% end %>
              </ul>
            </li>
            <li class="dropdown">
              <a name="vizbi" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Вина<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <% @vinos.each do |vino| %>
                    <li><span class="glyphicon glyphicon-home"></span>&nbsp;<span class="h4"><%= link_to vino.ime, edit_vino_path(vino.id), :id => "#{vino.ime}", :name => "#{vino.ime}" %></span></li>
                    <li class="divider"></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>



  <div class="row">
    <div class="clearfix col-lg-12 text-center" style="left:20%">
      <div class="col-lg-offset-1 col-lg-2">
        <%= link_to "Додади винaрија", new_vinarija_path, :class => 'btn btn-primary' %>
      </div>
      <div class="col-lg-offset-1 col-lg-2">
        <%= link_to "Додади винo", new_vino_path, :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>

</div>
</body>
</html>